<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= render "pictures/form", locals:{ picture: @picture }%>
<p>
  <strong>Photos:</strong>
  <% @user.pictures.each do |photo| %>
    <%= image_tag photo.url %>
  <% end %>
</p>





<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
